
@import helper._
@import model.UserEmail
@import model.UserDB
@import model.LuckyNumber
@(userForm: Form[UserEmail], user: UserDB, luckynumbers: List[LuckyNumber])(implicit request: RequestHeader, messages: Messages)
@main("Details") {

    <div class="container">
        <ul class = "list-group" style="text-align: center">
            <h2>Users details </h2>
            <li class="list-group-item">Username: @user.userName</li>
            <li class="list-group-item">Email: @user.email</li>
        </ul>
        <h1 style="padding-top: 30px;text-align: center">Lucky numbers:</h1>
        <ul class="list-inline" style="text-align:center">
        @for(index <- 0 until luckynumbers.length) {
            <li class="list-inline-item">@luckynumbers(index).number</li>
        }
        </ul>
    </div>

    @if(request.session.get("mysession").getOrElse("") == user.userName) {

        <div class = "container">
        @form(action = routes.HomeController.changeEmail(user.userName) ,'class -> "form-signin") {
            @inputText(userForm("email"),'class->"form-control")
            <input type="submit" value="Change" class="btn btn-lg btn-primary btn-block">
        }
        </div>

    }
}