@import play.api.mvc.Request
@import model.UserDB
@(implicit request: play.api.mvc.RequestHeader, user: UserDB, userlist: List[UserDB])
@main("Welcome to Play") {




    @if(request.session.get("mysession").getOrElse("") != "") {
        <a href="@routes.HomeController.logout()">Logout</a>
        <h1 style="text-align: center ; color:red;">
            Welcome @request.session.get("mysession")
        </h1 >
    } else{
        <a href="@routes.HomeController.login()">Login</a>
        <a href="@routes.HomeController.register()">Register</a>
        <h1 style="text-align: center">
            Welcome Guest
        </h1>
    }

    <div class="container">

        <ul class = "list-group" style="text-align: center; padding-top: 50px">
            <h2>List of Users </h2>
        @for(index <- 0 until user.all.length) {
            <li class="list-group-item"><a href="@routes.HomeController.details(userlist(index).userName)">@userlist(index).userName</a></li>
        }
        </ul>
    </div>



}
